.header {
    background-color: #212529;
    padding: 0 15px;
    height: 60px;
    color: rgba(255, 255, 255, 0.55);

    display: flex;
    align-items: center;
}

.logo img {
    width: 108px;
    height: 42px;
    object-fit: cover;
}

.sidebar {
    display: flex;
    align-items: center;
}

/* style menu */
.menu > ul {
    display: flex;
}

.menu-item {
    color: #fff;
    font-size: 15px;
    margin: 0 10px;

    position: relative;
    height: 60px;

    display: flex;
    align-items: center;

    cursor: pointer;
}

.menu-item span {
    margin-left: 5px;
}

/* style sub-menu */
.sub-menu {
    position: absolute;
    top: 100%;
    right: 0;

    width: 200px;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    background-color: #fff;
    border-radius: 4px;
    color: #212529;

    display: none;
}

.menu-item:hover .sub-menu {
    display: block;
}

.sub-menu-item {
    padding: 11px 16px;
    cursor: pointer;
    text-align: center;
}

.sub-menu-item:hover {
    background-color: #c4c4c4;
    color: #fff;
}