@import url("./base.css");
@import url("./header.css");

/* Company list */
.company-list-inner, 
.job-list-inner{
    background-color: #fff;
    border: 1px solid rgb(60, 141, 188);
    font-size: 16px;
    border-radius: 3px;
}

.btn-create-company, 
.btn-update-company,
.btn-create-job, 
.btn-update-job {
    background-color: rgb(60, 141, 188);
    border-color: rgb(54, 127, 169);
}

.btn-refresh {
    background-color: rgb(0, 192, 239);
    border-color: rgb(0, 172, 214);
}

.company-table img {
    width: 100px;
    height: 50px;
    object-fit: cover;
}

/* Company detail */
.company-logo-preview,
.job-logo-preview {
    width: 200px;
    height: 200px;
    border: 2px solid #ddd;
}

#company-logo, 
.company-logo-preview img,
#job-logo, 
.job-logo-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}