<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Trang chủ</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  <style th:inline="css">
    body {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #eee;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="text-center">
    <h1 class="mb-4">Error Page 401 Unauthorized</h1>
    <a href="/" class="btn btn-warning">Go Home</a>
  </div>
</div>

</body>
</html>