<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header d-flex align-items-center">
    <div class="container-fluid">
        <div class="d-flex justify-content-start align-items-center">
            <div class="logo">
                <a href="/admin/courses">
                    <img src="https://techmaster.vn/resources/image/logo-techmaster/white/white_200x74.png" alt="logo">
                </a>
            </div>
            <div class="menu">
                <a class="text-white ms-5" href="/admin/courses">Danh sách khóa học</a>
                <a class="text-white ms-3" href="/admin/courses/create">Tạo khóa học</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>