@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


/* Header style */
.header {
    height: 60px;
    background-color: #30598c;
}

.logo img {
    width: 120px;
}

.cart-count {
    top: -15px;
    left: 15px;
    font-size: 14px;
}

.user img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

/* Trang danh sách */
.course-item-image {
    height: 190px;
}

.course-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-item-info h2 {
    height: 48px;
}

/* Trang chi tiết */
.supporter-image img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

/* Giỏ hàng */
.course-item .image img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}