@import url("./base.css");
@import url("./header.css");

.company-list-inner {
    background-color: #fff;
}

.company-list-inner {
    border: 1px solid rgb(60, 141, 188);
    font-size: 16px;
    border-radius: 3px;
}

.btn-create-company {
    background-color: rgb(60, 141, 188);
    border-color: rgb(54, 127, 169);
}

.btn-refresh {
    background-color: rgb(0, 192, 239);
    border-color: rgb(0, 172, 214);
}