<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" sizes="16x16" href="./image/favicon-16x16.png">

    <!-- Link google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap"
        rel="stylesheet" />

    <!-- Link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <!-- Link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Link tự viết -->
    <link rel="stylesheet" href="./css/style.css" />

    <title>Trang chủ</title>
</head>

<body>
    <div class="header d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="d-flex">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="https://layerdrops.com/insur/main-html/assets/images/resources/logo-2.png"
                                    alt="logo" />
                            </a>
                        </div>
                        <div class="menu d-flex align-items-center">
                            <ul class="d-flex mb-0 ps-0">
                                <li class="mx-4">
                                    <a href="./job-list.html">Việc làm IT</a>
                                </li>
                                <li>
                                    <a href="./company-list.html">Top Công ty IT</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="language d-flex justify-content-end">
                        <span>EN</span>
                        <span class="mx-2">|</span>
                        <span class="active">VN</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="company-detail-container">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="bg-white d-flex align-items-center p-4">
                        <div class="company-logo">
                            <img src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBM3d3REE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--80a5e94da84295f7b4d0feae6f2e6cb58eb1e369/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBPZ2wzWldKd09oSnlaWE5wZW1WZmRHOWZabWwwV3dkcEFhb3ciLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--a364054a300021d6ece7f71365132a9777e89a21/lg-development-center-vietnam-logo.png"
                                alt="">
                        </div>
                        <div class="company-detail ps-4">
                            <h2 class="fw-normal">LG Vehicle Component Solutions Development Center Vietnam (LG VS DCV)
                            </h2>

                            <div class="company-info mt-4">
                                <div class="company-info-item d-flex">
                                    <span><i class="fa-solid fa-location-dot"></i></span>
                                    <span class="d-block">Hà Nội</span>
                                </div>
                                <div class="company-info-item d-flex">
                                    <span class="d-block"><i class="fa-solid fa-chalkboard-user"></i></span>
                                    <span><a href="http://techmaster.vn">http://techmaster.vn</a></span>
                                </div>
                                <div class="company-info-item d-flex">
                                    <span class="d-block"><i class="fa-solid fa-envelope"></i></span>
                                    <span><a href="mailto:admin@techmaster.vn">admin@techmaster.vn</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="list-job-container pt-5 pb-5">
        <div class="container">
            <h2 class="mb-5 fw-normal">Danh Sách Công Việc</h2>
            <div class="row list-job">
                <div class="col-md-6">
                    <a href="#">
                        <div class="company bg-white p-4 mb-4">
                            <h2 class="fs-4 mb-4">
                                10 Software Dev (C# WPF C++, .NET)~$2300
                            </h2>
                            <div class="text-muted">
                                <p>
                                    <span class="me-1"><i class="fa-solid fa-sack-dollar"></i></span>
                                    $3000 - $4000
                                </p>
                                <p>
                                    <span class="me-1"><i class="fa-solid fa-location-dot"></i></span>
                                    Hà Nội
                                </p>
                                <p>
                                    <span class="me-1"><i class="fa-solid fa-screwdriver-wrench"></i></span>
                                    <span class="badge bg-warning text-dark">Angular</span>
                                    <span class="badge bg-warning text-dark">Javascript</span>
                                    <span class="badge bg-warning text-dark">HTML5</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <div class="company bg-white p-4 mb-4">
                            <h2 class="fs-4 mb-4">
                                10 Software Dev (C# WPF C++, .NET)~$2300
                            </h2>
                            <div class="text-muted">
                                <p>
                                    <span class="me-1"><i class="fa-solid fa-sack-dollar"></i></span>
                                    $3000 - $4000
                                </p>
                                <p>
                                    <span class="me-1"><i class="fa-solid fa-location-dot"></i></span>
                                    Hà Nội
                                </p>
                                <p>
                                    <span class="me-1"><i class="fa-solid fa-screwdriver-wrench"></i></span>
                                    <span class="badge bg-warning text-dark">Angular</span>
                                    <span class="badge bg-warning text-dark">Javascript</span>
                                    <span class="badge bg-warning text-dark">HTML5</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <div class="company bg-white p-4 mb-4">
                            <h2 class="fs-4 mb-4">
                                10 Software Dev (C# WPF C++, .NET)~$2300
                            </h2>
                            <div class="text-muted">
                                <p>
                                    <span class="me-1"><i class="fa-solid fa-sack-dollar"></i></span>
                                    $3000 - $4000
                                </p>
                                <p>
                                    <span class="me-1"><i class="fa-solid fa-location-dot"></i></span>
                                    Hà Nội
                                </p>
                                <p>
                                    <span class="me-1"><i class="fa-solid fa-screwdriver-wrench"></i></span>
                                    <span class="badge bg-warning text-dark">Angular</span>
                                    <span class="badge bg-warning text-dark">Javascript</span>
                                    <span class="badge bg-warning text-dark">HTML5</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <div class="company bg-white p-4 mb-4">
                            <h2 class="fs-4 mb-4">
                                10 Software Dev (C# WPF C++, .NET)~$2300
                            </h2>
                            <div class="text-muted">
                                <p>
                                    <span class="me-1"><i class="fa-solid fa-sack-dollar"></i></span>
                                    $3000 - $4000
                                </p>
                                <p>
                                    <span class="me-1"><i class="fa-solid fa-location-dot"></i></span>
                                    Hà Nội
                                </p>
                                <p>
                                    <span class="me-1"><i class="fa-solid fa-screwdriver-wrench"></i></span>
                                    <span class="badge bg-warning text-dark">Angular</span>
                                    <span class="badge bg-warning text-dark">Javascript</span>
                                    <span class="badge bg-warning text-dark">HTML5</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>