<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="header d-flex align-items-center">
        <div class="container-fluid">
            <div class="d-flex justify-content-start align-items-center">
                <div class="logo">
                    <a href="./index.html">
                        <img src="https://techmaster.vn/resources/image/logo-techmaster/white/white_200x74.png" alt="logo">
                    </a>
                </div>
                <div class="menu">
                    <a class="text-white text-uppercase ms-5" href="./index.html?type=onlab">Phòng lab</a>
                    <a class="text-white text-uppercase ms-3" href="./index.html?type=online">Trực tuyến</a>
                </div>
            </div>
        </div>
    </div>

    <div class="course-container mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <div class="mb-4">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="./index.html">Khóa học</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Lập trình di động IOS Swift online</li>
                            </ol>
                        </nav>
                    </div>

                    <div class="main p-4 shadow-sm">
                        <h2 class="course-title fs-5">Lập trình di động IOS Swift online</h2>

                        <hr>

                        <div class="supporter d-flex align-items-center">
                            <div class="supporter-image">
                                <img src="https://media.techmaster.vn/api/static/crop/bv9jp4k51co7nj2mhht0" alt="tư vấn viên" class="rounded-circle w-75 h-75">
                            </div>
                            <div class="supporter-info">
                                <p>
                                    <b>Tư vấn viên :</b>
                                    Phạm Thị Mẫn
                                </p>
                                <p>
                                    <b>Email :</b>
                                    manpham@gmail.com
                                </p>
                                <p>
                                    <b>Số điện thoại :</b>
                                    0987654321
                                </p>
                                <p>
                                    <button class="btn btn-primary shadow-sm">Nhận tư vấn</button>
                                </p>
                            </div>
                        </div>

                        <hr>

                        <div class="course-description">
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita corporis iure dolore voluptate vel dolor sint et distinctio delectus vero modi facere illo dignissimos accusamus necessitatibus, ab placeat officia! Corrupti.</p>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi, minima voluptatem. Asperiores quos ipsum fugiat ex perferendis iusto, aliquid a dolores magnam repellat, optio sint omnis eum alias, adipisci velit! Nam quod voluptate sit tempore voluptatem accusantium non quis adipisci, rem dolores expedita consequatur repellendus alias explicabo reprehenderit harum nihil nemo cupiditate? Tempore quibusdam possimus quas, dolorem quasi facilis consectetur vero quisquam, incidunt asperiores voluptas autem. Incidunt aspernatur nihil, autem pariatur atque dolorum labore facilis odit possimus nemo quam excepturi rerum adipisci eaque hic assumenda tenetur similique! Ex ab libero fugit harum hic, vero, natus optio, alias accusamus maxime maiores.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="./js/data.js"></script>
    <script src="./js/detail.js"></script>
</body>

</html>