<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trang chủ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">SPRING</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

            <th:block sec:authorize="not isAuthenticated()">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-login">
                    Login
                </button>

                <!-- Modal -->
                <div class="modal fade" id="modal-login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="text" class="form-control" id="email">
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                                <button type="button" class="btn btn-primary" id="btn-login">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>

            <th:block sec:authorize="isAuthenticated()">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        Xin chào
                        <th:block sec:authentication="name"></th:block>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/">Trang chủ</a></li>
                        <li><a class="dropdown-item" href="/profile" sec:authorize="hasAnyRole('USER')">Trang cá nhân</a></li>
                        <li><a class="dropdown-item" href="/admin/blogs" sec:authorize="hasAnyRole('EDITOR', 'ADMIN')">Quản lý bài viết</a></li>
                        <li><a class="dropdown-item" href="/admin/users" sec:authorize="hasRole('ADMIN')">Quản lý user</a></li>
                        <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                    </ul>
                </div>
            </th:block>
        </div>
    </div>
</nav>

<div class="container">
    <h2 class="mt-5">Index page</h2>

    <p>Một số thông tin</p>
    <ul>
        <li><span class="fw-bold">Name</span> : <th:block th:text="${#authentication.name}"></th:block></li>
        <li><span class="fw-bold">Authorities</span> : <th:block th:text="${#authentication.authorities}"></th:block></li>
        <li><span class="fw-bold">Principal</span> : <th:block th:text="${#authentication.principal}"></th:block></li>
        <li><span class="fw-bold">Authenticated</span> : <th:block th:text="${#authentication.authenticated}"></th:block></li>
        <li><span class="fw-bold">Credentials</span> : <th:block th:text="${#authentication.credentials}"></th:block></li>
        <li><span class="fw-bold">Details</span> : <th:block th:text="${#authentication.details}"></th:block></li>
    </ul>

    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script th:inline="javascript">
    let emailEl = document.getElementById("email");
    let passwordEl = document.getElementById("password");
    let btnLogin = document.getElementById("btn-login");

    btnLogin.addEventListener("click", async function() {
        try {
            let email = emailEl.value;
            let password = passwordEl.value;

            await axios.post("/auth/login", {
                email : email,
                password : password
            })

            alert("Login Successfully")

            setTimeout(function () {
                window.location.reload();
            }, 1500)
        } catch (e) {
            console.log(e);
        }
    })
</script>

</body>
</html>