<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header" id="header">
    <div class="container">
        <div class="header-inner">
            <div class="logo">
                <h3>💖BUIHIEN-TRAVEL💖</h3>
            </div>
            <div class="menu">
                <div class="menu-list">
                    <a href="/" class="menu-item">Home</a>
                    <a href="/hotel" class="menu-item">Hotel</a>
                    <a href="/tour" class="menu-item">Tour</a>
                    <a href="/rentar" class="menu-item">Rentar</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>