<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

</head>

<body>
<div class="header" th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">LOGO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
                    aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav" id="user-menu">
                    <th:block th:if="${isLogined}">
                        <li class="nav-item" th:if="${userLogin.hasRole('USER')}">
                            <a class="nav-link" th:href="@{/user}">Trang User</a>
                        </li>
                        <li class="nav-item" th:if="${userLogin.hasRole('ADMIN')}">
                            <a class="nav-link" th:href="@{/admin}">Trang Admin</a>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link bg-transparent border-0" th:onclick="|logout()|">Đăng xuất</button>
                        </li>
                    </th:block>
                    <li class="nav-item" th:if="not ${isLogined}">
                        <button type="button" class="nav-link bg-transparent border-0" data-bs-toggle="modal"
                                data-bs-target="#modal-login">
                            Đăng nhập
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- Modal đăng nhập-->
<div th:fragment="modal-login" class="modal fade" id="modal-login" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Đăng nhập</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="col-form-label">Email</label>
                    <input type="text" id="email" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="col-form-label">Password</label>
                    <input type="text" id="password" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="btn-login">Đăng nhập</button>
            </div>
        </div>
    </div>
</div>

</body>

</html>