<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{/layout/layout-admin :: main-fragment(~{:: title}, ~{:: #css}, ~{:: .job-container}, ~{:: #js})}">

<head>
    <title>Tạo công việc</title>

    <th:block id="css">
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    </th:block>
</head>

<body>
<div class="job-container mt-4 mb-4">
    <div class="container">

        <div class="mb-4">
            <button class="btn-custom btn-create-job">
                <span><i class="fa-solid fa-plus"></i></span>
                Tạo
            </button>
            <a th:href="@{/admin/companies}" class="btn-custom btn-refresh">
                <span><i class="fa-solid fa-angle-left"></i></span>
                Quay lại
            </a>
        </div>

        <div class="company-list-inner p-2">
            <div class="row">
                <div class="col-md-8">
                    <div class="mb-3">
                        <label for="job-title" class="form-label">Tên công việc</label>
                        <input type="text" class="form-control" id="job-title">
                    </div>
                    <div class="mb-3">
                        <label for="job-description" class="form-label">Mô tả ngắn</label>
                        <textarea class="form-control" id="job-description" rows="10"></textarea>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="job-skill" class="form-label">Kỹ năng</label>
                        <select id="job-skill" class="form-control" multiple="multiple">
                            <option th:each="skill : ${skills}" th:value="${skill}" th:text="${skill}">Java</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="job-company" class="form-label">Công ty</label>
                        <select id="job-company" class="form-control">
                            <option hidden>-- Chọn công ty --</option>
                            <option th:each="company : ${companies}" th:value="${company.id}" th:text="${company.name}">Techmaster</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="job-salary" class="form-label">Mức lương</label>
                        <input type="text" class="form-control" id="job-salary">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block id="js">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script th:inline="javascript">
        let skills = [[${skills}]];
        console.log(skills);
    </script>
    <script th:src="@{/js/job-create.js}"></script>
</th:block>
</body>

</html>