<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:fragment="main-fragment(title, css, main, js)">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title th:replace="${title}">Trang chủ</title>

    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/image/favicon-16x16.png}">

    <!-- Link google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap"
          rel="stylesheet" />

    <!-- Link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <!-- Link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Link tự viết -->
    <link rel="stylesheet" th:href="@{/css/style-admin.css}" />

    <!-- Components CSS -->
    <th:block th:replace="${css} ?: ~{}"></th:block>
</head>

<body>
<!--HEADER-->
<th:block th:replace="~{/fragments/header-admin :: header}"></th:block>

<!-- BODY -->
<th:block th:replace="${main} ?: ~{}"></th:block>

<!-- Components JS -->
<th:block th:replace="${js} ?: ~{}"></th:block>
</body>

</html>