<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Link google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap"
        rel="stylesheet" />

    <!-- Link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <!-- Link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Link tự viết -->
    <link rel="stylesheet" href="./css/index.css" />

    <title>Trang chủ</title>
</head>

<body>
    <div class="header d-flex align-items-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="d-flex">
                        <div class="logo">
                            <a href="./index.html">
                                <img src="https://itviec.com/assets/logo-itviec-4492a2f2577a15a0a1d55444c21c0fa55810822b3b189fc689b450fb62ce0b5b.png"
                                    alt="logo" />
                            </a>
                        </div>
                        <div class="menu d-flex align-items-center">
                            <ul class="d-flex mb-0 ps-0">
                                <li class="mx-4">
                                    <a href="./job-list.html">Việc làm IT</a>
                                </li>
                                <li>
                                    <a href="./company-list.html">Top Công ty IT</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="language d-flex justify-content-end">
                        <span>EN</span>
                        <span class="mx-2">|</span>
                        <span class="active">VN</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search pt-5 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <h2 class="text-white fw-normal">
                        1,985 Việc Làm IT Chất Dành Cho Bạn
                    </h2>
                    <div class="form d-flex align-items-center mt-5">
                        <div class="search-box rounded">
                            <div class="search-box-inner px-2 d-flex align-items-center h-100">
                                <span><i class="fa-solid fa-magnifying-glass"></i></span>
                                <input class="px-2" type="text" placeholder="Tìm kiếm theo kỹ năng" />
                            </div>
                        </div>
                        <div class="select-box rounded">
                            <div class="select-box-inner px-2 d-flex align-items-center justify-content-between w-100">
                                <span><i class="fa-solid fa-location-dot"></i></span>
                                <select id="city" class="ms-2 h-100">
                                    <option value="">Hà Nội</option>
                                    <option value="">Hồ Chí Minh</option>
                                    <option value="">Đà Nẵng</option>
                                </select>
                            </div>
                        </div>
                        <div class="button-box">
                            <button class="btn rounded">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="list-company pt-5 pb-5">
        <div class="container">
            <h2 class="mb-5 fw-normal">Nhà Tuyển Dụng Hàng Đầu</h2>
            <div class="row">
                <div class="col-md-3">
                    <a href="#">
                        <div class="company bg-white p-4 mb-4">
                            <div class="image mt-5 mb-5">
                                <img src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNzdLRFE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--200865ba7500188f303af7873758943a66971411/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--623b1a923c4c6ecbacda77c459f93960558db010/koh-young-technology-inc-logo.png"
                                    alt="" />
                            </div>
                            <div class="info">
                                <h2 class="fs-5 mb-5 text-center">
                                    Koh Young Technology Inc
                                </h2>
                                <p class="text-center">
                                    <span class="text-danger">4 việc làm</span>
                                    -
                                    <span>Hà Nội</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <div class="company bg-white p-4 mb-4">
                            <div class="image mt-5 mb-5">
                                <img src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNzdLRFE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--200865ba7500188f303af7873758943a66971411/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--623b1a923c4c6ecbacda77c459f93960558db010/koh-young-technology-inc-logo.png"
                                    alt="" />
                            </div>
                            <div class="info">
                                <h2 class="fs-5 mb-5 text-center">
                                    Koh Young Technology Inc
                                </h2>
                                <p class="text-center">
                                    <span class="text-danger">4 việc làm</span>
                                    -
                                    <span>Hà Nội</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <div class="company bg-white p-4 mb-4">
                            <div class="image mt-5 mb-5">
                                <img src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNzdLRFE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--200865ba7500188f303af7873758943a66971411/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--623b1a923c4c6ecbacda77c459f93960558db010/koh-young-technology-inc-logo.png"
                                    alt="" />
                            </div>
                            <div class="info">
                                <h2 class="fs-5 mb-5 text-center">
                                    Koh Young Technology Inc
                                </h2>
                                <p class="text-center">
                                    <span class="text-danger">4 việc làm</span>
                                    -
                                    <span>Hà Nội</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <div class="company bg-white p-4 mb-4">
                            <div class="image mt-5 mb-5">
                                <img src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNzdLRFE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--200865ba7500188f303af7873758943a66971411/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--623b1a923c4c6ecbacda77c459f93960558db010/koh-young-technology-inc-logo.png"
                                    alt="" />
                            </div>
                            <div class="info">
                                <h2 class="fs-5 mb-5 text-center">
                                    Koh Young Technology Inc
                                </h2>
                                <p class="text-center">
                                    <span class="text-danger">4 việc làm</span>
                                    -
                                    <span>Hà Nội</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <div class="company bg-white p-4 mb-4">
                            <div class="image mt-5 mb-5">
                                <img src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNzdLRFE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--200865ba7500188f303af7873758943a66971411/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--623b1a923c4c6ecbacda77c459f93960558db010/koh-young-technology-inc-logo.png"
                                    alt="" />
                            </div>
                            <div class="info">
                                <h2 class="fs-5 mb-5 text-center">
                                    Koh Young Technology Inc
                                </h2>
                                <p class="text-center">
                                    <span class="text-danger">4 việc làm</span>
                                    -
                                    <span>Hà Nội</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <div class="company bg-white p-4 mb-4">
                            <div class="image mt-5 mb-5">
                                <img src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNzdLRFE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--200865ba7500188f303af7873758943a66971411/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--623b1a923c4c6ecbacda77c459f93960558db010/koh-young-technology-inc-logo.png"
                                    alt="" />
                            </div>
                            <div class="info">
                                <h2 class="fs-5 mb-5 text-center">
                                    Koh Young Technology Inc
                                </h2>
                                <p class="text-center">
                                    <span class="text-danger">4 việc làm</span>
                                    -
                                    <span>Hà Nội</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <div class="company bg-white p-4 mb-4">
                            <div class="image mt-5 mb-5">
                                <img src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNzdLRFE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--200865ba7500188f303af7873758943a66971411/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--623b1a923c4c6ecbacda77c459f93960558db010/koh-young-technology-inc-logo.png"
                                    alt="" />
                            </div>
                            <div class="info">
                                <h2 class="fs-5 mb-5 text-center">
                                    Koh Young Technology Inc
                                </h2>
                                <p class="text-center">
                                    <span class="text-danger">4 việc làm</span>
                                    -
                                    <span>Hà Nội</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="#">
                        <div class="company bg-white p-4 mb-4">
                            <div class="image mt-5 mb-5">
                                <img src="https://itviec.com/rails/active_storage/representations/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNzdLRFE9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--200865ba7500188f303af7873758943a66971411/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCem9MWm05eWJXRjBTU0lJY0c1bkJqb0dSVlE2RW5KbGMybDZaVjkwYjE5bWFYUmJCMmtCcWpBPSIsImV4cCI6bnVsbCwicHVyIjoidmFyaWF0aW9uIn19--623b1a923c4c6ecbacda77c459f93960558db010/koh-young-technology-inc-logo.png"
                                    alt="" />
                            </div>
                            <div class="info">
                                <h2 class="fs-5 mb-5 text-center">
                                    Koh Young Technology Inc
                                </h2>
                                <p class="text-center">
                                    <span class="text-danger">4 việc làm</span>
                                    -
                                    <span>Hà Nội</span>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>